VITE_SUPABASE_URL=https://vgbutwtwhrwxvtzwyfmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnYnV0d3R3aHJ3eHZ0end5Zm13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMTc2MzAsImV4cCI6MjA5NDU5MzYzMH0.7EWDZue5b2tDlt2ERHffqDd1jOYBb-AMF2yMaXq35e4
